* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --primary-collor: #177Be5;
    --second-collor: rgb(240, 112, 103);
    --terc-collor: #30b7ff;
    --quar-collor: rgb(19, 20, 31);
    --second-text: #d2d2d2;
}

body {
    background: white;
}

header {
    color: white;
    background: var(--primary-collor);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.container {
    max-width: 1140px;
    /* Defina a largura máxima desejada */
    margin-left: auto;
    /* Centralize o conteúdo horizontalmente */
    margin-right: auto;
    padding: 0 15px;
    /* Adicione margem interna para evitar que o conteúdo alcance as bordas da largura máxima */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 70px;
}

a {
    all: unset;
    cursor: pointer;
}

main {
    margin-top: 70px;
    height: 1000px;
}

/* HERO */
.nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
}

.hero-bg {
    background-image: linear-gradient(to top, #177be5, #3a83e6, #508ce6, #6294e7, #729de7, #7da2e8, #88a7e9, #92acea, #9aafec, #a2b1ee, #aab4ef, #b1b7f1);
    padding: 52px 0px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 50px;
    color: #27272a;
}

.hero-text h2 {
    font-size: 34px;
    text-align: justify;
}

.hero-text p {
    color: var(--second-text);
    font-size: 18px;
    text-align: justify;
}

.button-budget {
    color: white;
    background-color: var(--primary-collor);
    border-radius: 6px;
    width: fit-content;
    padding: 12px 16px;
    font-size: 18px;
}

.button-budget:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.img-hero {
    max-width: 362px;
    max-height: 300px;
}

/* FIM - HERO */

.form-orçamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.box-form-0 {
    display: flex;
    margin-top: 10px;
    gap: 26px;
    font-weight: bold;
    width: 100%;
}

.box-form-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    gap: 26px;

    font-size: 16px;
}

.box-form-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    font-size: 16px;
    gap: 26px;

}

.box-form-3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 8px;

    font-size: 16px;
    font-weight: bold;
}

.form-orçamento input {
    width: 100%;
    height: 36px;
    border: var(--second-text) solid 1px;
    border-radius: 4px;
    padding-left: 8px;
    font-family: inherit;
}

input:focus,
textarea:focus {
    outline: var(--primary-collor) solid 2px;
}

textarea {
    width: 100%;
    height: 200px;

    padding: 8px;

    border: var(--second-text) solid 1px;
    border-radius: 4px;

    resize: none;
}

.box-form-3 button {
    align-self: flex-end;
    color: white;
    background-color: var(--primary-collor);
    border-radius: 6px;
    width: fit-content;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
}

.box-form-3 button:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: all 0.5s ease;
}


@media (max-width: 767px) {
    nav {
        flex-direction: column;
        justify-content: space-around;
    }
}